body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d3fdfd;
}

th, td {
    border: 1px solid #bae8e8;
    padding: 10px;
}

th {
    background-color: #bae8e8;
}

tr:nth-child(even) {
    background-color: #ecfffe;
}

td {
    width: 100px; /* Adjust the width value as needed */
    height: 100px; /* Adjust the height value as needed */
    text-align: left; /* Align the content in the center */
    vertical-align: middle; /* Vertically align the content in the middle */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.day-cell {
    position: relative;
    min-height: 100px;
    padding: 10px;
}


.appointment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fce8b2;
    padding: 2px;
    border-radius: 2px;
}

.appointment span {
    font-size: 12px;
    font-weight: bold;
}

.calendarheader{
    display: flex;
    align-items: center;
  
}

div{
    margin-right:30px;
}

.addapp{
    background-color:  #ffd803;
    border-radius: 5px;
    cursor: pointer;
    padding:10px;
    font-weight: bold;
    color: black;
    font-size: small;
    text-decoration: none;
}

.change-calendar-btn{
    background-color:  #bae8e8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding:10px;
    font-weight: bold;
    color: black;
    font-size: small;
    text-decoration: none;
}

.calendar-nav {
    margin-bottom: 20px;
    left:70%
}

.calendar-nav select {
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
}

.calendar-nav button {
    font-size: 16px;
    padding: 5px 10px;
}