.loginform{
    width:50%;
    height:100%;
    position:absolute;
    top:50%;
    left: 75%;
    transform: translate(-50%, -50%); 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    overflow-y: hidden; /*disable scroll*/
    overflow-x: hidden; /*disable scroll*/
}

input{
    width: 80%;
    height: 50px;
    right: 100px;
    background-color: #bae8e8;
    border: #bae8e8;
    border-radius: 10px;
    padding: 20px;
}

.button{
    background-color: #ffd803;
    width: 150px;
    height: auto;
    border-radius: 30px;
    border:none;
    font-weight: bolder;
    
}

.button:hover{
    border: 1px solid black;
}


form{
    align-items: center;
    margin-top: 50px;
    margin-left:110px;
}

.formhead{
    margin-left:-20px;
    padding:20px;
}

h1{
    font-weight: bolder;
}

img {
    width: 50%;
    height: auto;
}