.active{
    font-weight:BOLD;
}

nav a:hover:not(.active,.logo) {
  font-weight: bold;
  color: black;
}
.logo{
    float:left;
    width:10%;
    height:130px;
}

img.brand{
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 20px;
    width: 90px;
    height: 90px;
}

img.usericon{
    width:40px;
    height:40px;
}

nav{
    
    width:80%;
    background-color:#fffffe;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    padding:25px;
    padding-right: 5px;
    height:80px;
}

nav a{
    display: block;
    color: #272343;
    text-align:center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display:flex;
    flex-direction: row;
    background-color: #fffffe;
}

.dropbutton{
    background-color: #fffffe;
    cursor: pointer;
    border: none;
}

.user-dropdown {
    float: right;
    overflow: hidden;
    background-color: inherit;
    font-family: inherit;
    padding-top:25px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 14px;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content a {
    float: none;
    color: #272343;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

p.branchname{
    background-color: #ffd803;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

#category{
    float:left;
    width:10%;
    padding:30px;
    font-family: Arial, Helvetica, sans-serif;
}

