{% extends "admin_dash/layout.html" %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.role == "ADMIN"%}
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <body>
            {% if submitted %}
                New Branch Added Successfully
                <br><br>
                <a href="{% url 'branches' %}" class="goback"> BACK TO BRANCHES</a>
            {% else %}
                <form action="" method=POST class="addbranch">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="ADD NEW BRANCH" valign="bottom" class="branch-button">
                </form>
            {% endif %}
    </body>

    {% else %}
    <h1>Sorry, you must be an ADMIN to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
    {% endif %}

{% else %}
    <h1>Sorry, you must be logged in to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
{% endif %}
{% endblock %}
