{% extends "calendar_module/layout.html" %}

{% block content %}
{% if user.is_authenticated %}
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% if user.role == "ASSISTANT" %}

    <div class="addproductpage">
        <h3>ADD NEW PRODUCT - {{user.branch}}  </h3>
        {% if submitted %}
            New Product Listed Successfully
            <br><br>
            <p><a href="{% url 'inventory' %}" class="goback"> BACK TO INVENTORY </a></p>
            <p><a href="{% url 'addproduct' %}" class="goback"> ADD ANOTHER PRODUCT </a></p>
        {% else %}
            <form action="" method=POST class="addnewproduct">
                {%csrf_token%}
                {{form.as_p}}
            
                <input type="submit" value="ADD NEW PRODUCT" class="addnewproductbutton">
            </form>
        {% endif %}
    </div>
        



    {% else %}
    <h1>Sorry, you must be logged in as an ASSISTANT to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
    {% endif %}

{% else %}
    <h1>Sorry, you must be logged in to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
{% endif %}
{% endblock %}
