{% extends "calendar_module/layout.html" %}

{% block content %}
{% if user.is_authenticated %}
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% if user.role == "ASSISTANT" %}

    <div class="placeorderpage">
        <h3>PLACE NEW ORDER- {{user.branch}}  </h3>
        {% if submitted %}
            New Order Placed Successfully
            <br><br>
            <a href="{% url 'orders' %}" class="goback"> BACK TO ORDERS </a>
        {% else %}
            <form action="" method=POST class="placeorder">
                {%csrf_token%}
                {{form.as_p}}
            
                <input type="submit" value="PLACE NEW ORDER" valign="bottom" class="placeneworderbutton">
            </form>
        {% endif %}
    </div>

    {% else %}
    <h1>Sorry, you must be logged in as a PHARMACIST to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
    {% endif %}

{% else %}
    <h1>Sorry, you must be logged in to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
{% endif %}
{% endblock %}
