{% extends "calendar_module/layout.html" %}

{% block content %}
{% if user.is_authenticated %}
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/lists.css' %}">
    {% if user.role == "ASSISTANT" %}

       <!-- INSERT SEARCH BAR HERE-->
       <div class="topbar">
        <h1>ORDERS</h1><br>
        <form class="searchpatients"  method=POST action="{% url 'searchorder' %}">
            {% csrf_token %}
            <label for="status">STATUS:</label>
            <select name="status">
                <option value="all">ALL</option>
                <option value="In Progress">IN PROGRESS</option>
                <option value="Completed">COMPLETED</option>
                <option value="Cancelled">CANCELLED</option>
            </select>

            <label for="sortby">SORT BY:</label>
            <select name="sortby">
                <option value="date-asc">DATE - newest</option>
                <option value="date-desc">DATE - oldest</option>
            </select>
            
            <input type="search" placeholder="Search Orders"  name="searched">
            <input type="submit" value="ENTER" valign="bottom" class="branch-button">
            <a class="addproduct" href="{% url 'placeorder' %}">Place New Order</a>
        </form>
        
        
    </div>

    <br>
    <!-- INSERT TABLE OF ORDERS HERE-->
    <table class="style2">
        <tr style="font-weight: bold;" class="style2">
            <th class="style2">ID</th>
            <th class="style2">SUPPLIER</th>
            <th class="style2">NAME</th>
            <th class="style2">QTY</th>
            <th class="style2">TOTAL $</th>
            <th class="style2">DATE</th>
            <th class="style2">TIME</th>
            <th class="style2">STATUS</th>
            <th class="style2"></th>
        </tr>
        {% for x in myorders %}
            {% if x.branch == user.branch%}
                <tr class="style2">
                    <td class="style2">OD{{x.id}}</td>
                    <td class="style2">{{x.supplier}}</td>
                    <td class="style2">{{x.Order_Name}}</td>
                    <td class="style2">{{x.Order_Quantity}}</td>
                    <td class="style2">{{x.Order_Total}}</td>
                    <td class="style2">{{x.Order_Date}}</td>
                    <td class="style2">{{x.Order_Time}}</td>
                    <td class="style2">{{x.Order_Status}}</td>
                    <td class="style2"><a href="{% url 'vieworder' x.id %}"><img src="/static/images/editstatus.png" style="width:20px;
                        height:20px;"></a> 
                    </td>
                    
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    {% else %}
    <h1>Sorry, you must be logged in as an ASSISTANT to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
    {% endif %}

{% else %}
    <h1>Sorry, you must be logged in to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
{% endif %}
{% endblock %}
