{% extends "calendar_module/layout.html" %}

{% block content %}
{% if user.is_authenticated %}
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/lists.css' %}">
        <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% if user.role == "ASSISTANT" %}
        
    <body>
        {% if submitted %}
            Successfully updated
            <br><br>
        {% else %}
            <form action="" method=POST>
                {%csrf_token%}

                <div class="viewcontent"> 
                    <table>
                        <tr>
                            <td class="view" style="font-weight:bold;">SUPPLIER NAME:</td>
                            <td class="view"> {{ order_to_edit.supplier }}</td>
                            <td class="view" style="font-weight:bold;"> ORDER NAME:</td>
                            <td class="view"> {{ order_to_edit.Order_Name }}</td>
                        </tr>
                        <tr>
                            <td class="view" style="font-weight:bold;">  QUANTITY</td>
                            <td class="view" > {{ order_to_edit.Order_Quantity }}</td>
                            <td class="view" style="font-weight:bold;">  TOTAL</td>
                            <td class="view" > {{ order_to_edit.Order_Total }}</td>
                        </tr>
                        <tr>
                            <td class="view" style="font-weight:bold;">  TIME</td>
                            <td class="view" > {{ order_to_edit.Order_Time }}</td>
                            <td class="view" style="font-weight:bold;">  DATE</td>
                            <td class="view" > {{ order_to_edit.Order_Date }}</td>
                        </tr>
                        <tr>
                            <td class="view" style="font-weight:bold;" rowspan="4"> {{form.as_p}}</td>
                        </tr>
                    </table>
                </div>
                <div class="changes">
                    <input type="submit" value="CONFIRM CHANGES" valign="bottom" class="confirm-button">
                </div>
            </form>
        {% endif %}
        
    </body>

    {% else %}
    <h1>Sorry, you must be logged in as an ASSISTANT to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
    {% endif %}

{% else %}
    <h1>Sorry, you must be logged in to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
{% endif %}
{% endblock %}
