<!DOCTYPE html>
<html>  
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{user.role}} :{{user.branch}}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
</head>
{% if user.is_authenticated %}
    
    <body>
        <div class="flex-container">
            <div class="logo">
                <a><img src="/static/images/logo.png" class="brand"></a>
            </div>
            {% if user.role == "ASSISTANT" %}
                <nav> 
                    {% url 'assistantnotification' as assistantnotification %}
                    <a{% if request.path == assistantnotification %} class="active"{% endif %}
                    href="{{ assistantnotification }}">DASHBOARD</a>

                    {% url 'inventory' as inventory %}
                    <a{% if request.path == inventory %} class="active"{% endif %}
                    href="{{ inventory }}">INVENTORY</a>

                    {% url 'orders' as orders %}
                    <a{% if request.path == orders %} class="active"{% endif %}
                    href="{{ orders }}">ORDERS</a>

                    {% url 'suppliers' as suppliers %}
                    <a{% if request.path == suppliers %} class="active"{% endif %}
                    href="{{ suppliers }}">SUPPLIERS</a>
                    
                    {% url 'calendar' as calendar %}
                    <a{% if request.path == calendar %} class="active"{% endif %}
                    href="{{ calendar }}">CALENDAR</a>    

                    <a href="">CHECKOUT</a>       
                </nav>
            {% elif user.role == "PHARMACIST" %}
                <nav> 
                    {% url 'pharmacistnotification' as pharmacistnotification %}
                    <a{% if request.path == pharmacistnotification %} class="active"{% endif %}
                    href="{{ pharmacistnotification }}">DASHBOARD</a>
                    
                    {% url 'patientrecords' as patientrecords %}
                    <a{% if request.path == patientrecords %} class="active"{% endif %}
                    href="{{ patientrecords }}">PATIENT RECORDS</a>
                    
                    {% url 'calendar' as calendar %}
                    <a{% if request.path == calendar %} class="active"{% endif %}
                    href="{{ calendar }}">CALENDAR</a>       
                </nav>
            {% endif %}
            
            <div class="user-dropdown">
                Hello, {{ user }} <!--Identifies which is the current user logged in-->
                <button class="dropbutton">
                    <img src="/static/images/user-icon.png" class="usericon">
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'logout'%}">Log Out</a>
                </div>
            </div>
        </div>

        <div class="container body-content">
{% else %}
    <h1>Sorry, you must be logged in to view this page.</h1>
    <a href="{% url 'login_user' %}"> LOG IN NOW</a>
{% endif %}

    {% block content %}{% endblock %}


    <script src="{% static 'adminview/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'adminview/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'adminview/scripts/respond.js' %}"></script>


    {% block scripts %}{% endblock %}
</body>
</html>    